<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Rabbit Inc</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

 <%- include('templates/header') %>

<main>
    <h2><%= h2 %></h2>
    <section>
        <% result.forEach(clientes => { %>
            <a href="/team/<%= clientes.apellido %>">  
            <div class="card <%= clientes.departamento %>" >
            <img src="../img_customers/<%= clientes.foto %>" alt="<%= clientes.nombre + clientes.apellido %>">
            <h3><%= clientes.nombre + ' ' + clientes.apellido %></h3>
            <p><%= clientes.email %></p>
            <hr>
            <p><%= clientes.departamento %></p>
        </div> </a>   
        <% }) %>
    </section>

  
</main>
</body>
</html>